<div [style.backgroundColor]="config?.styleConfig?.backGroundColor"
[style.top.px]="config?.position?.x"
[style.left.px]="config?.position?.y"
[style.padding.px]="config?.styleConfig?.padding"
[style.borderRadius.px]="config?.styleConfig?.borderRadius || 0"
[style.borderStyle]="config?.styleConfig?.borderStyle"
[style.borderColor]="config?.styleConfig?.borderColor"
[style.borderWidth.px]="config?.styleConfig?.borderSize"
[style.zIndex]="config?.styleConfig?.zIndex"
[style.width.px]="config?.width"
[style.height.px]="config?.height"
(dragEnd)="dragEnd($event)"
class="bar-chart"
mwlDraggable
>

<highcharts-chart
  [Highcharts]="highcharts"
  [options]="chartOptions"
  *ngIf="!showLoader"
></highcharts-chart>
</div>